@keyframes spin-animation-1 {
    0% { transform: rotate(0deg) }
    50% { transform: rotate(-45deg) }
    100% { transform: rotate(0deg) }
}

@keyframes spin-animation-2 {
    0% { transform: rotate(180deg) }
    50% { transform: rotate(225deg) }
    100% { transform: rotate(180deg) }
}

@keyframes spin-animation-3 {
    0% { transform: translate(190px,0); opacity: 0 }
    20% { opacity: 1 }
    100% { transform: translate(70px,0); opacity: 1 }
}

.spin > div:nth-child(2) {
    transform: translate(-15px,0);
}

.spin > div:nth-child(2) div {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 120px;
    height: 60px;
    border-radius: 120px 120px 0 0;
    background: #0060ff;
    animation: spin-animation-1 1s linear infinite;
    transform-origin: 60px 60px
}

.spin > div:nth-child(2) div:nth-child(2) {
    animation: spin-animation-2 1s linear infinite
}

.spin> div:nth-child(2) div:nth-child(3) {
    transform: rotate(-90deg);
    animation: none;
}

.spin > div:nth-child(1) {
    display: block;
}

.spin > div:nth-child(1) div {
    position: absolute;
    top: 92px;
    left: -8px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #42497b;
    animation: spin-animation-3 1s linear infinite
}
.spin > div:nth-child(1) div:nth-child(1) {
    animation-delay: -0.67s
}

.spin > div:nth-child(1) div:nth-child(2) {
    animation-delay: -0.33s
}

.spin > div:nth-child(1) div:nth-child(3) {
    animation-delay: 0s
}

.loading-spinner-bean-eater {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: none;
}

.spin {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}
.spin div { 
    box-sizing: content-box; 
}

.container{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    border-right: 30px;
    z-index: 1000;
}

.aling-center{
    align-self: center;
}